<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474101166097-4en5pa5qhir9jpv4tn7b7j3jos15u0k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474101166097-4en5pa5qhir9jpv4tn7b7j3jos15u0k1</string>
	<key>API_KEY</key>
	<string>AIzaSyCq7VB-URUqgQCDbg13kpQ1z5oQ2qT3zew</string>
	<key>GCM_SENDER_ID</key>
	<string>474101166097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasewithflutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-with-firebase-2e61e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-with-firebase-2e61e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474101166097:ios:f774b08b8622d7762801b0</string>
</dict>
</plist>